#top-panel {
    min-height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #4e4e4e;
    #grand-total {
        display: flex;
        justify-content: center;
    }
}