.hide {
    display: none !important;
}

.line-item {
    &.even {
        background-color: #808080;
    }
    &.odd {
        background-color: #616161;
    }
    
    padding: 10px;
    display: flex;
    .line-item-left {
        display: flex;
        flex: 1 1 0;
        .line-item-desc {
            flex: 1 1 0;
            .fa {
                margin-left: 1rem;
                cursor: pointer;
                
            }
        }
        .line-item-desc-input {
            flex: 1 1 0;
        }
        .line-item-date {
            flex: 1 1 0;
        }
        .line-item-date-button {
            flex: 1 1 0;
        }
    }
    .line-item-cost {
        flex: 0.2 1 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .line-item-cost-input {
        flex: 0.2 1 0;
    }
}